body {
    padding-left: 150px;
    padding-right: 25px;
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

.centerTitle {
    position: relative;
    left: 40%;
    text-align: center;
    outline: 6px solid #333;
    background-color: #333;
    width: 200px;
    height: 40px;
    color: #fff;
    border-radius: 10px;

}

.navMenu {
    position: fixed;
    float: left;
    top: 0;
    left: 0;
    width: 125px;
    height: 125px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: start;
    border-radius: 0px 10px 10px 0px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
