<%- include('../shared/header', {title: 'About'}) %>

<h1>Project Creator: Joseph Green</h1>
<p>GitHub link for this project: <a href="https://github.com/it-sd/sqc-project-MrDudePerson">Click Here</a></p>
<h2>Project Description:</h2>
<p>Ever feel like you'd like to keep a daily journal, but you don't want to write a description of your
    thoughts/feelings? That's where the GIF Journal comes in.<br></br>I envision the ability to choose
    a GIF that represents your thoughts/feelings, and then store the URL for that GIF inside a database
    for each day that you've submitted. If you're like me, you might have an easier time relating to an
    existing GIF rather than writing down your thoughts in your own words. If this interests you, please
    feel free to utilize my GIF Journal!</p>
</body>
</html>
