<%- include('../shared/header', {title: 'Home'}) %>
<p>Welcome to the home page for my GIF Journal. Use the
    GIF search box on this page (in progress) to locate and select a GIF
    to add to your journal.</p>
</body>
</html>
