<%- include('../shared/header', {title: 'Home'}) %>
<p>Welcome to the home page for my GIF Journal. Use the
    GIF search box on this page (in progress) to locate and select a GIF
    to add to your journal.</p>
<h1>Journal Entries</h1>
    <table>
        <thead>
            <tr>
                <th>Entry ID</th>
                <th>Name</th>
                <th>Entry Date</th>
            </tr>
        </thead>
            <tbody>
                <% journal_entry.forEach(function(journal_entry) { %>
                    <tr>
                        <td><%= journal_entry.entry_id %></td>
                        <td><%= journal_entry.name %></td>
                        <td><%= journal_entry.entry_date %></td>
                    </tr>
                <% }); %>
            </tbody>
    </table>
    <form action="submit" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">

        <label for="gif_link">Gif Link:</label>
        <input type="text" id="gif_link" name="gif_link">
               <button type="submit">Submit</button>
    </form>
</body>
</html>
